/* Global CSS */
:root {
    --primary-color: #66fcf1;
    --secondary-color: #45a29e;
    --background-color: #1f2833;
    --dark-background-color: #0b0c10;
}

body {
    background-color: var(--dark-background-color);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.banner {
    height: 300px;
    background-color: none;
    text-align: center;
}

.banner h1 {
    line-height: 300px;

    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 8em;
    font-weight: bold;
}

.banner p {
    width: 600px;
    margin: auto;
    margin-bottom: 25px;
}

.navbar-light {
    background: none;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: var(--primary-color);
}

.navbar-light .navbar-brand {
    color: var(--primary-color);
}

.btn {
    border-radius: 0;
    padding: 15px;
}

.btn-outline-success {
    color: white;
    border-color: var(--primary-color);
}

.btn-outline-success:hover {
    color: black;
    background-color: var(--primary-color);
}